.mouse {
    display: inline-block;
    width: 21px;
    height: 30px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
}
.mouse > .wheel {
    display: inline-block;
    width: 3px;
    height: 6px;
    margin-top: 4px;
    background-color: white;
    /* background-image: url(../img/th.jpeg);
    background-size: contain; */
    background-repeat: no-repeat;
    animation-name: mouseMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal; */
    /* animation-play-state: paused; */
}
/* .mouse:hover > .wheel {
    animation-play-state: paused;
} */

@keyframes mouseMove {
    0% {
        margin-top: 4px;
        background-color: white;
    }
    30% {
        background-color: white;
    }
    100% {
        margin-top: 12px;
        background-color: #fff0;
        /* transform: rotate(720deg); */
    }
}